.con {
  display: flex;
  justify-content: space-between;
}
.main {
  width: 75%;
  background-color: #0d0e0e;
  margin-left: auto;
}

.main .sec {
  display: flex;
  width: 85%;
  margin: auto;
}

.main .sec img {
  height: 100vh;
  width: 50%;
}

.main .sec .text {
  margin: auto;
  padding: 0 80px;
  width: 50%;
}

.main .sec .text * {
  color: white;
}

.main .sec .text .sub-heading {
  font-family: "Poppins", Arial, sans-serif;
  color: rgba(232, 230, 227, 0.2);
  font-size: 0.95rem;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.main .sec .text .heading {
  font-family: "Abril Fatface", cursive;
  font-size: 2.5rem;
  color: rgb(232, 230, 227);
  margin-bottom: 30px;
}

.main .sec .text .disc {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(168, 160, 149);
  line-height: 1.8;
  margin-bottom: 30px;
  font-size: 0.95rem;
  position: relative;
  padding-left: 20px;
}
.main .sec .text .disc::after {
  position: absolute;
  top: 10px;
  left: 0;
  width: 2px;
  height: 40px;
  content: "";
  background-color: rgb(180, 143, 10);
}

.main .sec .right {
  text-align: right;
}

.main .sec .right .disc {
  padding-left: 0;
  padding-right: 20px;
}

.main .sec .right .disc::after {
  left: 100%;
}

.main .sec .text .view-btn {
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(244, 203, 53);
  border: 1px solid #f3c623;
  font-size: 0.85rem;
  letter-spacing: 3px;
  font-weight: 700;
  padding: 2px 5px;
  background-color: transparent;
}

.load-more {
  width: 85%;
  margin: auto;
  background-color: #b48f0a;
  text-align: center;
  padding: 25px 0;
  letter-spacing: 3px;
}
.load-more a {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  transition: color 1s ease;
}
.load-more:hover {
  cursor: pointer;
}
.load-more:hover a {
  color: white;
}
